.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 auto;
}

.container {
    width: var(--default-layout-width, 1150px);
    display: flex;
    padding: 0 var(--default-layout-horizontal-space);
}

.content {
    flex: 1;
}
